header{
    color: (0, 0, 0);
    width: 1400px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 40px;
}

.personagem_principal{
    display: flex;
}

.personagem_principal img{
    width: 200px;
    height: 140px;
    object-fit: cover;
}